* Default settings */ * {
    margin: 0rem;
    padding: 0rem;
}


/* parents default setting Or CSS Variable */

:root {
    --navbar-hight: 50px;
    background-color: black;
    color: white;
}


/* styling main-container  */

#main-container {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgb(2, 2, 2);
    flex-direction: row;
    flex-wrap: wrap;
}


/* styling Sub-container */

#sub-container1,
#sub-container2 {
    width: 49%;
    margin: auto;
    position: relative;
    align-items: center;
}

#minicont {
    padding: 5rem;
    width: 70%;
    margin: auto;
    position: relative;
    align-items: center;
}

#minicont2 {
    padding: 5rem;
    width: 70%;
    margin: -70px 0px 0px 0px;
    position: relative;
}


/* styling contents */

.content {
    flex-wrap: wrap;
    display: flex;
    text-align: left;
    font-size: 1.375rem;
}

#para1 {
    margin: auto;
    font-size: 1.2rem;
}

#para2 {
    margin: auto;
    font-size: 1rem;
}

#ceo {
    flex-direction: column;
    position: relative;
    display: flex;
    margin: 20px auto 20px auto;
    padding: 20px;
}

#ceo img {
    align-self: center;
    height: 8rem;
    width: 8rem;
    border-radius: 8rem;
}

#ceo h4 {
    font-size: 70%;
    margin: 10px 0px 5px auto;
}

#ceo h5 {
    font-size: 65%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: auto;
    position: relative;
}


/* styling container2  */

.content2 h1 {
    font-size: 2.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

#para3 {
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content2 input {
    color: white;
    background-color: transparent;
    padding: 10px;
    width: 70%;
    flex-direction: column;
    position: relative;
    display: flex;
    border-color: transparent;
    border-bottom: 2px solid white;
}

.content input:hover {
    background-color: rgba(128, 128, 128, 0.24);
}

.content2 button {
    padding: 10px;
    border-radius: 5px;
    width: 75%;
    flex-direction: column;
    position: relative;
    display: flex;
    margin-top: 1rem;
    font-size: 20px;
    font-weight: bolder;
}

.content2 button:hover {
    border-color: transparent;
    box-shadow: 1px 2px 3px black;
    color: black;
    background-image: linear-gradient(rgba(128, 128, 128, 0.767), rgba(255, 255, 255, 0.767), rgba(128, 128, 128, 0.767));
}

.content2 label {
    padding: 10px;
    border-radius: 5px;
    width: 58%;
    flex-direction: column;
    position: relative;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: white;
}

#lablecont {
    margin: 20px 0px 20px 0px;
}


/* styling footer */

.footer {
    height: 2.5rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
    border-radius: 2px;
}